@import "~antd/dist/antd.css";
@font-face {
  font-family: Touche;
  src: url(./styles/fonts/Touche\ W03\ Bold.ttf);
}
:root {
  --text-dark: #11214e;
  --text-light: #fff;
  --text-dim: #8884dc;
}
* {
  font-family: "Touche", sans-serif;
}

.text-light {
  color: #fff;
}

.text-dark {
  color: rgb(27, 27, 27);
}

.text-dim {
  color: #8884dc;
}

.tab {
  width: 100%;
  height: 100%;
  background: #f0f4fd;
  border-radius: 0 0 50px 50px;
  animation: slide 0.3s ease-in 1 forwards;
  overflow: auto;
}

.tab::-webkit-scrollbar {
  display: none;
}
@keyframes slide {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
